
.eh{
    text-decoration: none;
    color: #000;
}
.eh:hover{
    text-decoration: none;
    color: #FF6500;
}

.register-button:hover{
    background-color: #00CFFF;
}

.register-button {
    background-color: #00CFFF;
    color: #000;
    right: 0;
    font-family: "Orbitron";
    font-size: 1.5rem;
    height: 50px;
    width: 200px;
    margin-right: 50px;
    position: absolute;
    margin: 20px 0;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

.sol-navbar{
    z-index: 1000;
    height: 100px;
    width: 85vw;
    position: fixed;
    background-color: #1f1f1f;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}
.mainlogo{
    position: absolute;
    top: 15px;
    left: 15px;
    height: 50px;
    padding: 10px;
}
.navlink:hover{
    color: #00CFFF;
}
.navlink{
    color: #EAEAEA;
}
.navlink:active{
    color: #EAEAEA;
}
.navbar-links{
    display: flex;
    margin: auto;
    border-radius: 10px;
    /* background-color: grey; */
    gap: 100px;
    height: 40px;
    align-items: center;
    padding: 0px 40px;
    background: rgba( 255, 255, 255, 0.1 );
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 14.5px );
    -webkit-backdrop-filter: blur( 14.5px );
    border-radius: 10px;
}

.active{
    color: #FF6500;
}

/* Existing styles remain unchanged */

/* Hamburger menu button */
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 30px;
    color: #EAEAEA;
}

/* Mobile Navigation */
@media screen and (max-width: 768px) {
    .navbar-links {
        display: none;
    }

    .mainlogo{
        position: absolute;
        top: 15px;
        left: 15px;
        height: 40px;
        padding: 5px;
    }
    .register-button {
        width: 150px;
        margin: 20px 20px;
        padding: 10px;
        font-size: 1.2rem;
        border-radius: 5px;
    }
}
